html,body,div {
	margin:0;
    padding:0;}
div{
	width:80%;
    margin:0 auto;}
header{
	height:150px;
	background:#OFBAFF;}
img{
    float:left;}
footer{
	clear:both;
	width:80%;
	margin:0 auto;
    height:100px;
    background:#OFBAFF;}
