*{margin:0px;}


header{
	background-color:rgb(255, 77, 66);
	text-align:center;
	color:white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);	
	padding:20px;
}
body{
	margin: 0px auto;
	width:900px;
	text-align:justify;
}